# Supabase Configuration
VITE_SUPABASE_URL=https://hnawhvvpvcghyqsqfytp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhuYXdodnZwdmNnaHlxc3FmeXRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxOTg1NDIsImV4cCI6MjA4OTc3NDU0Mn0.Fk1MlsZgmPseuRuxM2qW8cSa1ltPxspc2g3aapLjwek
